.detail-page-header {
  font-size: 2em;
}

.category-detail-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}


.current-month {
  font-size: 2em;
}


.arrow-button {
  cursor: pointer;
}

.time-travel {
  background-color: rgba(18,203,30, .8);
  width: 100%;
  text-align: center;
  color: white;
  font-size: 2em;
  border-radius: 15px;
  margin-top: 20%;
}
