.form-holder {
  margin: 0 auto;
}

.login, .sign-up {
    width: 25%;
    margin: 0 auto;
}

.login-form {
    /*display: flex;
    flex-direction: column;*/
    margin: 0 auto;
}

.login-header {
    font-size: 2em;
    text-align: center;
    color: white;
}

/*input, button {
    width: 80%;
    margin: 2% auto;
}*/

/*.form-container {
    margin: 10% auto;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

/*hr {
    width: 80%;
    height: 1px;
    color: white;
}*/

.login-whole-page {
  height: 100vh;
  width: 100vw;
  background-image: url('/imgs/Laptop-and-watch.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.opacity {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
}

.app-title {
  position: absolute;
  left: 4%;
  color: white;
}

.login-input {
  margin: 1%;
}

.full-width {
  width: 100%;
}

.login-button {
  position: absolute;
  right: 4%;
  top: 2%;
}

.form-container {
  margin: 10% auto;
}

.login-page-button {
  background-color: #59f359 !important;
  color: white !important;
}

.full-page-width {
  width: 100vw !important;
  text-align: center;
}
