<!-- <div ng-include src="'/partials/navbar.html'"></div> -->
<navbar user-id="cd.userId"></navbar>

<div class="container">
    <div class="category-detail-header">
        <p class="detail-page-header">{{cd.categoryName | capitalize}}</p>
        <p class="current-month"><i class="fa fa-arrow-left arrow-button" aria-hidden="true" ng-click="cd.changeCurrentMonth(-1)"></i> {{cd.currentMonth}}, {{cd.year}} <i class="fa fa-arrow-right arrow-button" aria-hidden="true" ng-click="cd.changeCurrentMonth(1)"></i></p>
    </div>

    <ul class="tabrow">
      <li class="selected cd-tab" id="firstLi-detail" ng-click="cd.selectTab('firstLi-detail', 'spendingDetail')"><span>Spending Detail</span></li>
        <li class="cd-tab" id="secondLi-detail" ng-click="cd.selectTab('secondLi-detail', 'purchaseHistory')"><span>Purchase History</span></li>
    </ul>

    <div class="" ng-if="cd.selectedTab==='spendingDetail' && cd.savingsDataReady">
        <div ng-switch="cd.futureRequest">
            <div ng-switch-default>
                <table class="table table-striped">
                    <thead>
                        <th>
                            Statistic
                        </th>
                        <th>
                            Value
                        </th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Monthly Allocated Budget
                            </td>
                            <td>
                                {{cd.featuredCategory.allocated_for_budget | dollar}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Current Spend total
                            </td>
                            <td>
                                {{cd.featuredCategory.spend_total | dollar}} &nbsp | &nbsp {{cd.featuredCategory.spent_percentage | percentage}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Budget Left
                            </td>
                            <td>
                                {{cd.featuredCategory.budget_left | dollar}} &nbsp | &nbsp {{cd.featuredCategory.budget_left_percentage | percentage}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Daily Spending
                            </td>
                            <td>
                                {{cd.featuredCategory.daily_spending | dollar}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Desired Daily Spending
                            </td>
                            <td>
                                {{cd.featuredCategory.desired_daily_spending | dollar}}
                            </td>
                        </tr>
                        <tr>
                            <td ng-if="cd.featuredCategory.daily_surplus_deficit <= 0">
                                Daily Spending Deficit
                            </td>
                            <td ng-if="cd.featuredCategory.daily_surplus_deficit > 0">
                                Daily Spending Surplus
                            </td>
                            <td>
                                {{cd.featuredCategory.daily_surplus_deficit | dollar}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Daily Fixed Expense Amount
                            </td>
                            <td>
                                {{cd.featuredCategory.daily_fixed_expense | dollar}} &nbsp | &nbsp {{cd.featuredCategory.fixed_expense_percentage | percentage}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Daily Incremental Spending
                            </td>
                            <td>
                                {{cd.featuredCategory.daily_incremental_spending | dollar}} &nbsp | &nbsp {{cd.featuredCategory.incremental_spending_percentage | percentage}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="time-travel" ng-switch-when="true">
                Sorry! No time travel available... yet.
            </div>
        </div>

    </div>
    <div class="" ng-if="cd.selectedTab==='purchaseHistory'">
        <div ng-switch="cd.futureRequest">
            <table ng-switch-default class="table table-striped">
                <thead>
                    <th>
                        Memo
                    </th>
                    <th>
                        Amount
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Edit
                    </th>
                    <th>
                        Delete
                    </th>
                </thead>
                <tbody>
                    <tr ng-repeat="item in cd.purchaseHistory">
                        <!-- <div ng-switch="item.isEditing"> -->
                                <td>
                                    {{item.memo}}
                                </td>
                                <!-- <td ng-switch-default>
                                    <input type="text" name="name" value="{{item.memo}}">
                                </td> -->
                                <td>
                                    {{item.expense_amount | dollar}}
                                </td>
                                <td>
                                    {{item.full_date}}
                                </td>
                                <td>
                                    <button class="warning-button" type="button" name="button" ng-click="cd.editPurchase(item.idEditing = true)">Edit</button>
                                </td>
                                <td>
                                    <button class="close-category" type="button" name="button" ng-click="cd.deletePurchase(item.id)">Delete</button>
                                </td>


                                <!-- <td>
                                    <input type="text" name="name" value="{{item.memo}}">
                                </td>
                                <td>
                                    <input type="number" name="name" value="{{item.expense_amount}}">
                                </td>
                                <td>
                                    <input type="date" name="name" value="{{item.full_date}}">
                                </td>
                                <td>
                                    <button class="btn btn-warning" type="button" name="button" ng-click="cd.editPurchase(item.idEditing = true)">Submit</button>
                                </td>
                                <td>
                                    <button class="btn btn-danger btn-small" type="button" name="button" ng-click="cd.deletePurchase(item.id)">Delete</button>
                                </td> -->
                        <!-- </div> -->
                    </tr>
                </tbody>
            </table>
            <div class="time-travel" ng-switch-when="true">
                Sorry! No time travel available... yet.
            </div>
        </div>
    </div>
</div>
