<navbar user-id="home.userId"></navbar>


<div class="container">
  <!--<app-heatmap></app-heatmap>-->
  <!--<div id="myDiv"></div> -->
  <div class="gauge-container">

     <div ng-if="home.savingsDataReady" class="card card-body">
        <div>
          <a class="card-title-a" ui-sref="categoryDetail({categoryName: 'savings'})"><p class="card-title">Savings</p></a>
          <p class="sub-title">{{home.savingsData.current_saving_percentage | percentage}} of Total Net Income</p>
          <gauge node-index="0" gauge-stats="home.savingsData" ></gauge>
          <div class="shift-up">
            <hr class="line-break">
            <p class="sub-title">{{home.savingsData.monthly_saving_percentage_of_budget | percentage}} of Savings Target</p>
              <div class="labels"><span class="red" id="savings-percentage-title">Savings Target</span></div>
              <div class="bar-container">
                <div id="savings-percentage" ng-style="{'width': home.savingsData.monthly_saving_percentage_of_budget +'%'}" class="spent"></div>
                <div ng-style="{'width': home.savingsData.savings_to_go_percentage + '%'}" class="budget-left"></div>
              </div>

              <div class="labels month"> <span class="days-passed-text">Days Passed</span></div>
              <div class="bar-container">
                <div ng-style="{'width': home.daysPassedPercentage +'%'}" class=" spent days-passed"></div>
                <div ng-style="{'width': home.daysLeftPercentage + '%'}" class=" budget-left days-left"></div>
              </div>
              <div class="card-block">
              </div>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item stat">Desired Save Percentage: {{home.savings.desired_spend_percentage | percentage}}</li>
                  <li class="list-group-item stat">Monthly Target: {{home.savings.allocated_for_budget | dollar}}</li>
                  <li class="list-group-item stat">Amount Saved: {{home.savingsData.current_saving | dollar}}</li>
                  <li class="list-group-item stat">Current Daily Saving: {{home.savingsData.current_daily_saving | dollar}} </li>
                  <li class="list-group-item stat">Current Daily Spending: {{home.savingsData.current_daily_spending | dollar}} </li>
              </ul>
          </div>
        </div>
     </div>


    <div ng-if="home.savingsDataReady" ng-repeat="g in home.gaugeStats" class="card card-body">
      <div>
        <a class="card-title-a" ui-sref="categoryDetail({categoryName: g.expense_category})"><p class="card-title">{{g.expense_category}}</p></a>
        <!-- <a ui-sref="categoryDetail({categoryName: g.expense_category})" class="card-title">{{g.expense_category}}</a> -->
        <p class="sub-title">{{g.spend_percentage | percentage}} of Total Spending</p>
        <gauge node-index="$index + 1" gauge-stats="g" ></gauge>
        <div class="shift-up">
          <hr class="line-break">
          <p class="sub-title">{{g.percentage_spent | percentage}} of Monthly Budget</p>
            <div class="labels"><span class="red">Budget Spent</span></div>
            <div class="bar-container">
              <div ng-style="{'width': g.spent_percentage +'%'}" class="spent"></div>
              <div ng-style="{'width': g.budget_left_percentage + '%'}" class="budget-left"></div>
            </div>

              <div class="labels month"> <span class="days-passed-text">Days Passed</span></div>
            <div class="bar-container">
              <div ng-style="{'width': home.daysPassedPercentage +'%'}" class=" spent days-passed"></div>
              <div ng-style="{'width': home.daysLeftPercentage + '%'}" class=" budget-left days-left"></div>
            </div>
            <div class="card-block">
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item stat">Desired Spend Percentage: {{g.desired_spend_percentage | percentage}}</li>
                <li class="list-group-item stat">Actual Spend Percentage: {{g.spend_percentage | percentage}}</li>
                <li class="list-group-item stat">Monthly Target: {{g.allocated_for_budget | dollar}}</li>
                <li class="list-group-item stat">Amount Spent: {{g.spend_total | dollar}}</li>
                <li class="list-group-item stat">Budget Remaining: {{g.budget_left | dollar}}</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="home.noIncomeData" class="no-income-data">
      Please Enter an Income to Calculate Spending Data
  </div>
  <div ng-if="!home.noIncomeData">
      <hr class="line-break">
      <br>
      <h1 ng-if="home.barChartReady" class="center">Total Spending by Expense Category</h1>
      <bar-chart ng-if="home.barChartReady" data="home.finalCategoryBarData" node-index="0" chart-title="'Total Spending By Expense Category'"></bar-chart>
      <hr class="line-break">
      <h1 ng-if="home.dailySpendingBarReady" class="center">Daily Saving, Spending</h1>
      <bar-chart ng-if="home.dailySpendingBarReady" data="home.dailySpendingBarData" node-index="1" chart-title="'Daily Saving, Spending'"></bar-chart>
      <hr class="line-break">
      <h1 ng-if="home.dayAvgBarReady" class="center">Incremental Spending by Day</h1>
      <bar-chart ng-if="home.dayAvgBarReady" data="home.finalDayAvgArray" node-index="2" chart-title="'Incremental Spending by Day'"></bar-chart>
  </div>



</div>
