<navbar user-id="settings.userId"></navbar>


<div class="container">
  <p class="display-1 page-header">Configure Your Settings</p>

    <ul class="tabrow">
      <li class="selected" id="firstLi" ng-click="settings.selectTab('firstLi', 'expenseCategories')"><span>Expense Categories</span></li>
        <li id="secondLi" ng-click="settings.selectTab('secondLi', 'fixedExpenses')"><span>Fixed Expenses</span></li>
        <li id="thirdLi" ng-click="settings.selectTab('thirdLi', 'income')"><span>Income</span></li>
    </ul>

  <form class="form-group" ng-if="settings.selectedTab === 'expenseCategories'">

    <p class="display-1 sub-title">Expense Categories</p>
    <p>We've added a few generic categories, but if you want to track expenses that don't fall into one of these categories, add them to your choices here!</p>

    <div class="bad-math" ng-if="settings.badMath">
        Please make sure that your total expense allocation equates to 100%!
    </div>
    <h1>Coverage | {{settings.percentageTotal | percentage}}</h1>

    <button type="button" class="add-category-button" data-toggle="modal" data-target="#expCat">Add an Expense Category</button>
    <button class="submit-expenses-button" ng-click="settings.submitExpensesToDatabase()">Save Changes</button>

    <div class="modal fade" id="expCat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Add an Expense Category</h4>
          </div>
          <div class="modal-body">
            <input class="form-control expense-input" type="text" id="newCat" placeholder="Add an Expense Category">
          </div>
          <div class="modal-footer">
            <button type="button" class="close-category" ng-click="settings.wipeCatValue('newCat')" data-dismiss="modal">Close</button>
            <button class="add-category-button" ng-click="settings.addCategory('newCat')" data-dismiss="modal">Add Category</button>
          </div>
        </div>
      </div>
    </div>


    <div class="expense-categories-container">
      <div class="list-group expense-parent">
        <div class="list-group-item expense-list-item" ng-repeat="cat in settings.expenseCategories">
          <div ng-switch="cat.isEditing">
            <p ng-switch-when="false" class="exp-cat-header capitalize">{{cat.expense_category}} | {{cat.percentage | percentage}}</p>
            <input class="form-control" ng-switch-when="true" type="text" value="{{cat.expense_category}}" id="{{$index + 'expCat'}}">
            <input class="form-control" ng-switch-when="true" type="number" value="{{cat.percentage}}" id="{{$index + 'percentage'}}">
            <button ng-switch-when="false" class="warning-button" ng-click="cat.isEditing = !cat.isEditing">Edit</button>
            <button ng-switch-when="true" class="warning-button" ng-click="cat.isEditing = !cat.isEditing; settings.submitTempExpenses($index, cat.catId)">Submit</button>
            <button class="close-category" ng-click="settings.deleteCategory(cat.catId)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </form>


  <div ng-if="settings.selectedTab === 'fixedExpenses'">
    <p class="display-1 sub-title">Fixed Expenses</p>
    <button type="button" class="add-category-button" data-toggle="modal" data-target="#fixedExpense">Add an Expense Category</button>


    <div class="modal fade" id="fixedExpense" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Add a Monthly Fixed Expense</h4>
          </div>
          <div class="modal-body">
              <select class="form-control input" ng-model="settings.fixedExpenseCategory">
                <option ng-repeat="cat in settings.expenseCategories">{{cat.expense_category | capitalize}}</option>
              </select>
              <input type="number" class="form-control input" placeholder="Amount" ng-model="settings.fixedExpenseAmount">
          </div>
          <div class="modal-footer">
            <button type="button" class="close-category" ng-click="settings.wipeCatValue('newCat')" data-dismiss="modal">Close</button>
            <button class="add-category-button" ng-click="settings.submitFixedExpenses()" data-dismiss="modal">Add Fixed Expense</button>
          </div>
        </div>
      </div>
    </div>


    <div class="list-group expense-parent">
      <div class="list-group-item expense-list-item" ng-repeat="exp in settings.fixedExpenses">
        <p class="exp-cat-header capitalize">{{exp.expense_category}} | {{exp.expense_amount | dollar}}</p>
        <button class="close-category" ng-click="settings.deleteFixedCategory(cat.id)">Delete</button>
      </div>
    </div>








      <!-- <button class="btn btn-success add-expense" ng-click="settings.addFixedExpense()">Add Fixed Expense</button> -->

      <!-- <form class="form-group" ng-submit="settings.submitFixedExpnses()">
        <div class="fixed-expense-container" ng-repeat="num in settings.fixedExpenseInputs">
          <h3>Fixed Expense {{$index+ 1}}</h3>
          <select class="form-control input">
            <option ng-repeat="cat in settings.expenseCategories">{{cat.expense_category | capitalize}}</option>
          </select>
          <input type="number" class="form-control input" placeholder="Amount">
        </div>
        <button class="btn btn-success submit-expenses" type="submit">Submit Fixed Expenses</button>
      </form> -->
 </div>



  <div ng-if="settings.selectedTab === 'income'">
      <p class="display-1 sub-title">Monthly Net Income</p>
      <div class="list-group-item expense-list-item" ng-if="!settings.noIncomeData">
        <div ng-switch="settings.editingIncome">
          <h4 ng-switch-when="false" class="h4 capitalize">{{settings.userIncome}}</h4>
          <input ng-switch-when="true" class="form-control" type="number" value="{{settings.userIncome}}" id="updatedIncome">
        </div>
        <div ng-switch="settings.editingIncome">
          <button class="btn btn-danger btn-small" ng-click="settings.editingIncome = true" ng-switch-when="false">Edit</button>
          <button class="btn btn-danger btn-small" ng-click="settings.editIncome(updatedIncome)" ng-switch-when="true">Submit</button>
        </div>
      </div>
      <form class="form-group" ng-submit="settings.submitIncome('submit_income')" ng-if="settings.noIncomeData">
        <label for="monthly-income"></label>
        <input class="form-control income-input" type="number" name="monthly-income" placeholder="Enter Your Monthly Takehome Income" id="submit_income">
        <button type="submit" class="btn btn-success submit-income">Submit Income</button>
      </form>
      <br>
      <p class="display-1 sub-title">Add One-Time Monthly Additional Income (or Loss!)</p>
      <form class="form-group" ng-submit="settings.addIncome()">
          <input class="form-control" type="number" ng-model="settings.extraIncomeAmount" placeholder="Amount">
          <input class="form-control" type="text" placeholder="Memo" ng-model="settings.incomeMemo">
          <select ng-model="settings.incomeMonth">
              <option ng-repeat="month in settings.months">{{month}}</option>
          </select>
          <input class="form-control" type="number" ng-model="settings.incomeYear">
          <input class="btn btn-success" type="submit" value="Submit">
      </form>

  </div>
</div>
