<div ng-include src="'/partials/navbar.html'"></div>


<div class="container">
  <p class="display-1 page-header">Configure Your Settings</p>

    <ul class="tabrow">
      <li class="selected" id="firstLi" ng-click="settings.selectTab('firstLi', 'expenseCategories')"><span>Expense Categories</span></li>
        <li id="secondLi" ng-click="settings.selectTab('secondLi', 'fixedExpenses')"><span>Fixed Expenses</span></li>
        <li id="thirdLi" ng-click="settings.selectTab('thirdLi', 'income')"><span>Income</span></li>
    </ul>

  <form class="form-group" ng-if="settings.selectedTab === 'expenseCategories'">

    <p class="display-1 sub-title">Expense Categories</p>
    <p>We've added a few generic categories, but if you want to track expenses that don't fall into one of these categories, add them to your choices here!</p>
    <input type="text" id="newCat">
    <button class="btn btn-primary" ng-click="settings.addCategory('newCat')">Add Category</button>
    <div class="expense-categories-container">
      <div class="list-group expense-parent">
        <div class="list-group-item expense-list-item" ng-repeat="cat in settings.expenseCategories">
          <div ng-switch="cat.isEditing">
            <h4 ng-switch-when="false" class="h4 capitalize">{{cat.expense_category}}</h4>
            <h4 ng-switch-when="false" class="h4">{{cat.percentage}}%</h4>
            <input ng-switch-when="true" type="text" value="{{cat.expense_category}}" id="{{$index + 'expCat'}}">
            <input ng-switch-when="true" type="number" value="{{cat.percentage}}" id="{{$index + 'percentage'}}">
            <button ng-switch-when="false" class="btn btn-warning" ng-click="cat.isEditing = !cat.isEditing">Edit</button>
            <button ng-switch-when="true" class="btn btn-warning" ng-click="cat.isEditing = !cat.isEditing; settings.submitTempExpenses($index, cat.catId)">Submit</button>
          </div>
          <button class="btn btn-danger btn-small" ng-click="settings.deleteCategory(cat.catId)">Delete</button>
        </div>
      </div>
    </div>
    <h1>Coverage: {{settings.percentageTotal | percentage}}</h1>
    <button class="btn btn-success submit-expenses" ng-click="settings.submitExpensesToDatabase()">Save Changes</button>

  </form>

  <div ng-if="settings.selectedTab === 'fixedExpenses'">
    <!-- <app-fixed-expenses></app-fixed-expenses> -->
    <h1>fixed expenses</h1>
  </div>

  <div ng-if="settings.selectedTab === 'income'">
    <!-- <app-monthly-income></app-monthly-income> -->
    <h1>income</h1>
  </div>
</div>
